@import "tailwindcss";

body {
	font-family: "nunito", sans-serif, "Arial";
}

.btn-gradient {
	background: linear-gradient(to bottom, #397a56 0%, #418f60 50%, #5dbc75 100%);
}

.input-no-spinner::-webkit-inner-spin-button,
.input-no-spinner::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.input-no-spinner {
	-moz-appearance: textfield;
}
